#root{
  background-color: aqua;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.App {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 50%;
}

#user-input {
  position: inherit;
  width: 95%;
}

#submit-button {
  position: inherit;
  width: 100%;
}

#get-user-inputs {
  padding: 20px;
  width: 250;
  height: auto;
  background-color: blueviolet;
}

.errorMessage {
  position: absolute;
  background-color: yellow;
  visibility: hidden;
  top: 0;

}